[Match]
Name=gt-tun*

[Link]
MTUBytes=1500

[Network]
Description=Glorytun server device
Address=10.255.255.1/24
DHCPServer=yes
IPMasquerade=yes

[DHCPServer]
PoolOffset=1
PoolSize=50
EmitDNS=no
EmitNTP=no
DNS=9.9.9.9
DefaultLeaseTimeSec=2h
MaxLeaseTimeSec=4h