[Match]
Name=gt-udp-tun*

[Network]
Description=Glorytun server device
Address=172.255.254.1/24
DHCPServer=yes
IPMasquerade=yes

[DHCPServer]
PoolOffset=2
PoolSize=50
EmitDNS=no
EmitNTP=no
DNS=9.9.9.9
DefaultLeaseTimeSec=2h
MaxLeaseTimeSec=4h