#!/usr/bin/make -f
#export DH_VERBOSE = 1

# Security Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/omr-server/usr/share/omr-server
	find . -type f -xtype f -not -iname '*/debian/*' -not -iname '*/.git/*' -exec cp '{}' "$(CURDIR)/debian/omr-server/usr/share/omr-server/{}" ';'
	cp -r ./shorewall4 $(CURDIR)/debian/omr-server/usr/share/omr-server/
	cp -r ./shorewall6 $(CURDIR)/debian/omr-server/usr/share/omr-server/
	cp -r ./bin $(CURDIR)/debian/omr-server/usr/share/omr-server/
	cp omr-update.service.in /lib/systemd/system/omr-update.service

